@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
  margin: 0;
  padding:0;
  font-family: 'Anonymous Pro', monospace;
  background: black;
}

@keyframes animation {
  0% {
    transform: translateX(calc(50vw - 10px));
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  45% {
    transform: translate(calc(50vw - 10px), 60vh);
    width: 20px;
    height: 20px;
  }
  46% {
    transform: translate(calc(50vw - 20px), 60vh);
    width: 20px;
    height: 20px;
  }
  47% {
    transform: translate(50vw, 60vh);
    width: 20px;
    height: 20px;
  }
  48% {
    transform: translate(calc(50vw - 19px), calc(60vh - 4px));
    width: 20px;
    height: 20px;
  }
  49% {
    transform: translate(calc(50vw - 1px), calc(60vh + 4px));
    width: 20px;
    height: 20px;
  }
  50% {
    transform: translate(calc(50vw - 17px), calc(60vh - 7px));
    width: 20px;
    height: 20px;
  }
  51% {
    transform: translate(calc(50vw - 3px), calc(60vh + 7px));
    width: 20px;
    height: 20px;
  }
  52% {
    transform: translate(calc(50vw - 14px), calc(60vh - 9px));
    width: 20px;
    height: 20px;
  }
  53% {
    transform: translate(calc(50vw - 6px), calc(60vh + 9px));
    width: 20px;
    height: 20px;
  }
  54% {
    transform: translateY(calc(50vw - 10px), calc(60vh - 10px));
    width: 20px;
    height: 20px;
  }
  55% {
    transform: translate(calc(50vw - 10px), calc(60vh + 10px));
    width: 20px;
    height: 20px;
  }
  56% {
    transform: translate(calc(50vw - 6px), calc(60vh - 9px));
    width: 20px;
    height: 20px;
  }
  57% {
    transform: translate(calc(50vw - 14px), calc(60vh + 9px));
    width: 20px;
    height: 20px;
  }
  58% {
    transform: translate(calc(50vw - 3px), calc(60vh - 7px));
    width: 20px;
    height: 20px;
  }
  59% {
    transform: translate(calc(50vw - 17px), calc(60vh + 7px));
    width: 20px;
    height: 20px;
  }
  60% {
    transform: translate(calc(50vw - 1px), calc(60vh - 4px));
    width: 20px;
    height: 20px;
  }
  61% {
    transform: translate(calc(50vw - 19px), calc(60vh + 4px));
    width: 20px;
    height: 20px;
  }
  62% {
    transform: translate(50vw, 60vh);
    width: 20px;
    height: 20px;
  }
  63% {
    transform: translate(calc(50vw - 20px), 60vh);
    width: 20px;
    height: 20px;
  }
  64% {
    transform: translate(50vw, 60vh);
    width: 20px;
    height: 20px;
  }
  65% {
    transform: translate(calc(50vw - 19px), calc(60vh + 10px));
    width: 20px;
    height: 20px;
  }
  66% {
    transform: translate(calc(50vw - 1px), calc(60vh - 10px));
    width: 20px;
    height: 20px;
  }
  99% {
    transform: translate(calc(-1*max(150vh, 150vw)/2 + 50vw), calc(-1*max(150vh, 150vw)/2 + 60vh));
    width: max(150vh, 150vw);
    height: max(150vh, 150vw);
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: none;
    position: relative;
    top: 0;
    margin: 0;
    transform: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    min-height: calc(100% - 10em);
    width: calc(100% - 40em);
  } to {
    opacity: 1;
    min-height: calc(100% - 10em);
    width: calc(100% - 40em);
  }
}

@keyframes overflow {
  from {
    height: 100vh;
    overflow: hidden;
  } to {
    height: auto;
    overflow: scroll;
  }
}

.circle_small {
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  animation-name: animation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  animation: overflow;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}

.content {
  opacity: 0;
  animation-name: appear;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  width: 0;
  overflow: scroll;
  padding: 5em 20em 5em 20em;
}
